/* REGOLE DI DEBUG */
header {
  border: 1px solid black;
}

section {
  min-height: 100px;
  background-color: red;
  border: 1px solid black;
}

footer {
  min-height: 100px;
  background-color: blue;
  border: 1px solid black;
}

[class*="col-"] {
  min-height: 50px;
  background-color: pink;
  border: 1px solid black;
}

/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGOLE HEADER */
.logo {
  width: 170px;
  margin: 10px;
}

/* MEDIA QUERY */
@media all and (max-width:1199px) {
  .barra-navigazione {
    display: none;
  }
}

@media all and (min-width:1200px) {
  .hamburger {
    display: none;
  }
}
