/* debug */

/* .dropdown * {
  border: 1px solid black;
} */

/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 70px;
  overflow-x: hidden;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

p {
  color: rgba(3,27,78,.75);
  font-size: 20px;
}

/* REGOLE HEADER */
#navbar-completa {
  overflow-y: visible;
}

.barra-navigazione li {
  list-style-type: none;
  display: inline-block;
}

.barra-navigazione a {
  color: inherit;
  font-size: 16px;
  font-weight: bold;
  margin:5px 0 5px 14px;
}

.barra-navigazione a:hover {
  text-decoration: none;
  color: #0069ff;
}

.logo {
  width: 170px;
  margin: 20px 0;
}

.main-nav li {
  display: block;
  margin: 10px 0;
}

.login-nav li {
  display: block;
  margin: 10px 0;
}

.login-nav {
  text-align: right;
}

.barra-navigazione .btn-signup {
  border: 1px solid #0069ff;
  color: #0069ff;
}

#navbar-completa .btn-signup:hover {
  background-color: #0069ff;
  color: #fff;
}

#burger {
  text-align: right;
  margin-top: 10px;
  color: #0069ff;
  background-color: #f8f8f8;
}

#burger:hover {
  color: #0069ff;
  background-color: #fff;
}


/* REGOLE DROPDOWN MENU */
.drop-1 {
  overflow: scroll;
  width: 768px;
  max-height: 80vh;
  left: -31px;
}

.drop-2 {
  overflow: scroll;
  width: 768px;
  max-height: 75vh;
  left: -31px;
}

.main-nav .drop-1 ul {
  margin: 0;
}

[class*="contenuto-dropdown"] {
  padding: 30px;
}

.contenuto-dropdown-left {
  border-right: 1px solid hsl(218,18%,91%);
}

.contenuto-dropdown-left li {
  width: 100%;
}

.contenuto-dropdown-bottom {
  border-top: 1px solid hsl(218,18%,91%);
  padding: 20px 0;
}

.btn-dropdown {
  background-color: #f8f8f8;
  color: inherit;
  font-size: 16px;
  font-weight: bold;
}

.btn-dropdown:hover {
  color: #0069ff;
}

.drop-img {
  display: block;
  width: 50px;
}

.drop-icon {
  width: 15px;
  margin-right: 15px;
}

.drop-title {
  display: block;
}

.mini-titolo {
  display: inline-block;
}

.drop-sub {
  display: block;
  font-weight: lighter;
  opacity: 0.7;
}

.main-nav .link-drop {
  margin-left: 20px;
  padding-bottom: 10px;
  display: block;
}

.link-drop a {
  font-size: 14px;
  font-weight: lighter;
  color: rgba(3,27,78,.75);
}

.link-drop a:hover {
  color: #006aff;
}

.drop-1 .lightblue-link,
.lightblue-link {
  color: #0069ff;
}

.drop-1 .lightblue-link:hover,
.lightblue-link:hover {
  text-decoration: underline;
}

.main-nav .drop-2 li {
  display: block;
  margin: 10px 0 10px 20px;;
}

/* REGOLE JUMBOTRON */
#jumbotron {
  background-image: url("../img/bg-jumbo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px 0;
}

#jumbotron p {
  color: #fff;
  font-size: 24px;
  opacity: 0.8;
}

.jumbo-left {
  min-height: 400px;
}

.jumbo-right {
  text-align: center;
  background-color: #fff;
  color: rgba(3,27,78,.75);
  border-radius: 5px;
  padding: 30px 20px;
}

.titolo-form {
  color: #000;
}

.sottotitolo-form {
  color: #0069ff;
}

#jumbotron input {
  margin: 5px 0;
  border: none;
}

.btn-form {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px 0;
}
.btn-crea-account {
  color: #fff;
  background-color: #0069ff;
}

.btn-crea-account:hover {
  background-color: blue;
  box-shadow: 2px 2px 10px black;
}

.btn-google {
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 2px lightgrey;
  margin-bottom: 20px;
}

.btn-google:hover {
  background-color: #f3f5f9;
  box-shadow: 2px 2px 10px black;
}

.icona-google {
  height: 20px;
  position: absolute;
  left: 10px;
}

.terms {
  text-decoration: underline;
}

/* REGOLE SEZIONE CUSTOMER */
#customer {
  background-color: #f3f5f9;
  text-align: center;
  padding: 10px 20px;
}

#customer a {
  display: block;
  margin: 10px 0;
}

#customer h5 {
  font-weight: normal;
}

#customer img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame {
  height: 200px;
  width: 100%;
  position: relative;
}

/* REGOLE SEZIONE DEPLOY */
#deploy {
  padding: 20px 0;
}

#deploy img {
  height: 35px;
  height: auto;
}

#deploy p {
  font-size: 18px;
}

.contenitore-lista {
  width: 100%;
  margin: 0;
}

.contenitore-info-deploy {
  margin: 20px 0;
}

.lista-sez-deploy {
  list-style-type: none;
}

.lista-sez-deploy li {
  padding: 15px;
  padding-left: 10px;
  border-left: 2px solid lightgrey;
}

.lista-sez-deploy a:hover {
  color: #0069ff;
}

.lista-sez-deploy li.active {
  border-left: 2px solid black;
}

.lista-sez-deploy a {
  color: rgba(3,27,78,.75);
  font-size: 20px;
}

/* REGOLE TAB */
.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li {
  float: none;
}

.nav-tabs > li > a {
  background-color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #fff;
  border: none;
}

/* REGOLE SEZIONE DEVELOPER */
#developer {
  text-align: center;
  background-color: #f3f5f9;
}

/* REGOLE CAROUSEL */
.carousel {
  height: 350px;
  margin: 20px 0;
}

.carousel-img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.side-carousel {
  display: none;
  height: 350px;
  position: relative;
}

.bottom-carousel {
  height: 20px;
}

.frecce-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control {
  font-size: 50px;
  color: hsl(220,95%,8%);
}

.carousel-control:hover,
.carousel-control:focus {
  color: hsl(220,100%,8%);
}

.carousel-control.left {
  background: none;
}

.carousel-control.right {
  background: none;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators li {
  border: 1px solid #0069ff;
}

.carousel-indicators .active {
  background-color: #0069ff;
}

.btn-carousel:hover {
  background-color: #0069ff;
  opacity: 0.5;
  border-radius: 50%;
  cursor: pointer;
}

.text-carousel {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}

/* REGOLE SEZIONE FEATURE */
#feature {
  padding: 50px 0;
}

#feature h2 {
  margin-bottom: 20px;
}

#feature img {
  height: 35px;
  margin-top: 20px;
}

#feature a {
  font-weight: bold;
  color: #0069ff;
}

/* REGOLE SEZIONE TABLE */
#table {
  background: rgb(0,71,197);
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,49,173,1) 50%, rgba(0,30,154,1) 100%);
  color: #fff;
  padding: 50px 0;
}

.my-table {
  font-size: 13px;
  font-weight: bold;
}

.my-table a {
  color: #00d7d2;
}

#table tr:nth-child(1) td:nth-child(1),
#table tr:nth-child(1) td:nth-child(2),
#table tr:nth-child(1) td:nth-child(3) {
  border-top: none;
}

td:nth-child(2) {
  opacity: 0.6;
  border-top: none;
}

/* REGOLE SEZIONE FEEDBACK */
#feedback {
  text-align: center;
  padding: 50px 0;
  background-color: #f3f5f9;
}

#feedback p {
  margin: 10px 0;
}

#feedback span {
  display: block;
}

#feedback a {
  display: block;
  margin: 20px 0;
  font-weight: bold;
}

.carousel-central {
  padding: 20px 0;
  margin: 50px 0;
  background-color: #fff;
}

/* REGOLE SEZIONE START */
#start {
  background: rgb(0,71,197);
  background: linear-gradient(180deg, rgba(0,71,197,1) 0%, rgba(0,49,173,1) 50%, rgba(0,30,154,1) 100%);
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

#start button {
  margin: 20px;
  color: #0069ff;
}

#start button:hover {
  background-color: #0069ff;
  color: #fff;
  border: 1px solid #fff;
}

/* REGOLE FOOTER */
footer {
  background-color: hsl(220,95%,8%);
  color: hsla(0,0%,100%,0.5);
  padding: 50px 0;
}

footer h4 {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

footer a {
  color: hsla(0,0%,100%,0.5);
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}

footer img {
  margin: 20px 0;
}

footer span {
  display: block;
}

footer ul {
  list-style-type: none;
}

.link-social {
  margin: 20px 0;
}

.link-social li {
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
}

.vertical-link li {
  margin: 10px 0;
}

.vertical-link a {
  font-size: 16px;
}

/* MEDIA QUERY XS */
@media all and (max-width:991px) {
  .barra-navigazione {
    display: none;
  }
}

/* MEDIA QUERY MD */
@media all and (min-width:992px) {
  .barra-navigazione {
    display: none;
  }

  /* DROPDOWN MENU MD */
  .drop-1 {
    width: 992px;
    left: -42px;
  }

  .drop-2 {
    width: 992px;
    left: -42px;
  }

  /* JUMBOTRON MD */
  #jumbotron {
    padding: 50px;
  }

  .jumbo-right {
    min-height: 500px;
  }

  /* SEZIONE CUSTOMER MD */
  #customer {
    padding: 10px 0;
  }

  .frame {
    height: 100px;
    width: 100%;
    position: relative;
  }

  /* SEZIONE DEPLOY MD */
  .contenitore-lista {
    width: 50%;
    margin: 20px auto;
  }

  /* SEZIONE DEVELOPER MD */
  #developer {
    padding: 50px;
  }

  .side-carousel {
    display: block;
    font-size: 50px;
    margin-top: 50px;
  }

  .carousel-img {
    margin-top: 50px;
  }

  /* SEZIONE FEEDBACK MD */
  .carousel-central {
    padding: 100px 50px;
  }

}

/* MEDIA QUERY LG */
@media all and (min-width:1200px) {
  body {
    padding-top: 78px;
  }

  /* HEADER LG */
  .logo {
    margin-top: 28px;
  }

  .barra-navigazione {
    display: block;
  }

  .barra-navigazione li {
    display: inline-block;
  }

  .btn-dropdown {
    margin-bottom: 4px;
  }

  .main-nav ul {
    margin: 25px 0;
  }

  .main-nav li {
    margin: 0;
  }

  .login-nav ul {
    margin: 20px 0;
  }

  .login-nav li {
    margin: 0;
  }

  .burger {
    display: none;
  }

  /* DROPDOWN MENU LG */
  .drop-1 {
    overflow: hidden;
    width: 1200px;
    left: -323px;
  }

  .drop-2 {
    overflow: hidden;
    width: 1200px;
    left: -540px;
  }

  /* JUMBOTRON LG */
  .jumbo-right {
    min-height: 420px;
  }

  /* CAROUSEL LG */
  .carousel {
    height: 400px;
  }

  .side-carousel {
    height: 400px;
  }
}
